#
# Define a cache directory here to avoid repeating downloads of the
# same file. This works on the server and on the client side.
# WARNING: you will not notice when the upstream file is changing!
# WARNING: you need to create two directories inside, when changing from default:
#          mkdir -p file{,name}
#
#CACHEDIRECTORY="/var/cache/obs/download_files/"
