<service name="download_files">
  <summary>Download files as specified in spec file</summary>
  <description>This service is parsing all spec files and downloads all Source files which are specified via a http, https or ftp url.
               Files which are identical to committed files get skipped. It can optionally also recompress the file if needed.</description>
  <parameter name="recompress">
    <description>In case the right compression is not available on server, do recompress the file as needed.</description>
    <allowedvalue>yes</allowedvalue>
  </parameter>
  <parameter name="enforceupstream">
    <description>Fail when upstream file differes to local committed file. Package state will become "broken".</description>
    <allowedvalue>yes</allowedvalue>
  </parameter>
  <parameter name="enforcelocal">
    <description>Fail when the file was not commited, download will happen anyway to verify that file is identical with upstream. Package state will become "broken".</description>
    <allowedvalue>yes</allowedvalue>
  </parameter>
  <parameter name="changesgenerate">
    <description>Whether or not to generate changes file entries from special files in the tarball (such as NEWS, CHANGES* or ChangeLog).  Default is 'disable'.</description>
    <allowedvalue>enable</allowedvalue>
    <allowedvalue>disable</allowedvalue>
  </parameter>
  <parameter name="changesauthor">
    <description>The author of the changes file entry to be written, defaults to first email entry in ~/.oscrc or "opensuse-packaging@opensuse.org" if there is no .oscrc found.</description>
  </parameter>
  <parameter name="changeslinesmax">
    <description>The maximum amount of changes lines that are written (the rest is dropped). Defaults to 30.</description>
  </parameter>
</service>

